:host {
	@media (min-width: 767px) {
		position: absolute;
		width: 678px;
		background-color: #FFFFFF;
		box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%), 0 0 15px 0 rgb(0 0 0 / 2%), 0 0 20px 4px rgb(0 0 0 / 6%);
	}


	header {
		background-color: #FFFFFF;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (max-width: 767px) {
			border-bottom: 6px solid #E8920A;
		}


		h3 {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.5em;
			color: #36AADD;
			text-align: center;


			@media (min-width: 768px) {
				font-size: 2em;
			}
		}


		h5 {
			font-family: 'Open Sans', sans-serif;
			font-size: 1em;
			color: #888888;
			text-align: center;

			@media (min-width: 768px) {
				font-size: 1.5em;
			}
		}
	}


	#container_form {
		select, input {
			border-radius: 0 !important;
		}


		#button_quote {
			height: calc(1.5em + .75rem + 2px);
			background-color: #36AADD;
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			color: #FFFFFF;
		}


		#recover_quote {
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-size: 1em;
			font-weight: 500;
			color: #5FAADB;
			text-align: center;
		}
	}
}
