<header class="py-3 py-md-4">
	<h3>
		Cotiza tu
		<br class="d-inline d-md-none" />
		Seguro Automotriz
	</h3>

	<h5>¡Resultados Instantáneos!</h5>
</header>


<section id="container_form" class="container px-2 py-4 pt-md-0 pr-md-5 pb-md-5 pl-md-5">
	<form
		[noValidate]="true"
		[formGroup]="formGroup">

		<div class="row m-0">
			<div class="col-12 col-md-6 p-1">
				<div class="form-group m-0">
					<label for="form_car_brand" class="d-none d-md-inline">Marca del auto</label>

					<select
						id="form_car_brand"
						class="custom-select"
						formControlName="car_brand">

						<option selected disabled [value]="null">Marca del auto</option>

						<option *ngFor="let carBrand of carBrands" [value]="carBrand.id">
							{{ carBrand.brand }}
						</option>
					</select>
				</div>
			</div>

			<div class="col-8 col-md-6 p-1">
				<div class="form-group m-0">
					<label for="form_car_model" class="d-none d-md-inline">Modelo</label>

					<select
						id="form_car_model"
						class="custom-select"
						formControlName="car_model">

						<option selected disabled [value]="null">Modelo</option>

						<ng-template [ngIf]="carBrandModels && carBrandModels['models']">
							<option *ngFor="let brandModel of carBrandModels['models']" [value]="brandModel.id">
								{{ brandModel.model }}
							</option>
						</ng-template>
					</select>
				</div>
			</div>

			<div class="col-4 col-md-3 p-1">
				<div class="form-group m-0">
					<label for="form_car_year" class="d-none d-md-inline">Año</label>

					<select
						id="form_car_year"
						class="custom-select"
						formControlName="car_year">

						<option selected disabled [value]="null">Año</option>

						<option *ngFor="let year of years" [value]="year">
							{{ year }}
						</option>
					</select>
				</div>
			</div>

			<div class="col-12 col-md-9 p-1">
				<div class="form-group m-0">
					<label for="form_email" class="d-none d-md-inline">Email</label>
					<input
						id="form_email"
						type="email"
						class="form-control"
						placeholder="Email"
						formControlName="car_email"
					/>
				</div>
			</div>
		</div>


		<div class="row m-0">
			<div class="col-12 pt-3 p-1 pb-4">
				<button id="button_quote" class="btn btn-block" [disabled]="formGroup.invalid">
					Cotizar
				</button>
			</div>
		</div>


		<div class="row m-0">
			<div class="col-12">
				<a id="recover_quote">Recuperar cotización</a>
			</div>
		</div>
	</form>

</section>
