<div id="main">
	<header>
		<img src="/assets/pages/app-component/images/png/Logo-1X.png" alt="" />
	</header>

	<section id="container_principal">
		<app-quotation-form id="quotation_form_mobile"></app-quotation-form>


		<div id="orange_bar">
			<div class="orange-bar-left"></div>

			<div class="orange-bar-right p-5">
				<div class="orange-bar-text">
					El único que toma un riesgo con
					el seguro automotriz es aquel
					que no lo toma.
				</div>
			</div>
		</div>
	</section>
</div>
