#main {
	display: flex;
	flex-direction: column;


	background-color: #EEEEEE;
	width: 100vw;
	height: 100vh;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


	header {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 74px;
		background-color: #464545;

		@media (min-width: 768px) {
			height: 115px;
		}


		img {
			height: 48px;
		}
	}


	#container_principal {
		@media (min-width: 768px) {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}



		#orange_bar {
			display: none;

			@media (min-width: 768px) {
				width: 100%;
				height: 300px;
				background-color: #E8920A;
				display: flex;


				& > div {
					display: none;


					@media (min-width: 992px) {
						display: flex;

						&.orange-bar-left {
							width: 55%;
						}

						&.orange-bar-right {
							width: 45%;
							display: flex;
							justify-content: center;
							align-items: center;


							.orange-bar-text {
								width: 543px;
								font-size: 2em;
								font-family: 'Mulish', sans-serif;
								text-align: center;
								color: #5C5C5C;
							}
						}
					}
				}
			}
		}


		@media (min-width: 992px) {
			app-quotation-form {
				right: 45%;
			}
		}
	}
}
